body {
    gackground-color: red;
    font-family: sans-serif;
    padding: 20px;
}

.item {
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
